[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
openpyxl = "*"
fastapi = "*"
uvicorn = "*"
python-multipart = "*"
pydantic = "*"

[dev-packages]

[requires]
python_version = "3.13"
