html {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background-color: #f9fafb;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
}

.container {
  background-color: white;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  max-width: 100%;
}

.container-input-file {
  background-color: white;
  padding: 50px;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin: 0 auto;
}

.container-input-file p {
  color: rgb(139, 139, 139);
}

.upload-area {
  display: block;
  padding: 2rem;
  border: 2px dashed #007bff;
  color: #007bff;
  cursor: pointer;
}

.upload-area:hover {
  background-color: #e7f1ff;
}

button {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
  background-color: #007dff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

button:active {
  transform: scale(0.97);
}

.container-table {
  background-color: white;
  margin-top: 1rem;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  overflow: auto;
}

.container-table table {
  padding: 30px;
}

table {
  border-collapse: collapse;
}

table th,
table td {
  padding: 1rem;
}

table th {
  color: rgb(139, 139, 139);
  font-weight: normal;
}

table td {
  border-top: 1px solid rgb(200, 198, 198);
}
